[View in Colaboratory](https://colab.research.google.com/github/khandelwal1998/Acadview-Assignments/blob/master/Assignment_1June.ipynb)

In [0]:
import pandas as pd
import numpy as np

In [0]:
df=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")

In [65]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11/1/2007,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,11/2/2007,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,11/3/2007,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,11/4/2007,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,11/5/2007,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [66]:
df.isnull().sum()

Date              0
Location          0
MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          3
WindGustDir       3
WindGustSpeed     2
WindDir9am       31
WindDir3pm        1
WindSpeed9am      7
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64


**Question 2**

In [0]:
df.dropna(inplace=True)

In [68]:
df.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

**Question 3**

In [0]:
data=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Weather/master/weather.csv")

In [70]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,11/1/2007,Canberra,8.0,24.3,0.0,3.4,6.3,NW,30.0,SW,...,29,1019.7,1015.0,7,7,14.4,23.6,No,3.6,Yes
1,11/2/2007,Canberra,14.0,26.9,3.6,4.4,9.7,ENE,39.0,E,...,36,1012.4,1008.4,5,3,17.5,25.7,Yes,3.6,Yes
2,11/3/2007,Canberra,13.7,23.4,3.6,5.8,3.3,NW,85.0,N,...,69,1009.5,1007.2,8,7,15.4,20.2,Yes,39.8,Yes
3,11/4/2007,Canberra,13.3,15.5,39.8,7.2,9.1,NW,54.0,WNW,...,56,1005.5,1007.0,2,7,13.5,14.1,Yes,2.8,Yes
4,11/5/2007,Canberra,7.6,16.1,2.8,5.6,10.6,SSE,50.0,SSE,...,49,1018.3,1018.5,7,7,11.1,15.4,Yes,0.0,No

In [71]:
data.isnull().sum()

Date              0
Location          0
MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          3
WindGustDir       3
WindGustSpeed     2
WindDir9am       31
WindDir3pm        1
WindSpeed9am      7
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64

In [0]:
data.fillna(data.mean(),inplace=True)

In [73]:
data.isnull().sum()

Date              0
Location          0
MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          0
WindGustDir       3
WindGustSpeed     0
WindDir9am       31
WindDir3pm        1
WindSpeed9am      0
WindSpeed3pm      0
Humidity9am       0
Humidity3pm       0
Pressure9am       0
Pressure3pm       0
Cloud9am          0
Cloud3pm          0
Temp9am           0
Temp3pm           0
RainToday         0
RISK_MM           0
RainTomorrow      0
dtype: int64

In [0]:
data.dropna(inplace=True)

In [75]:
data.isnull().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RISK_MM          0
RainTomorrow     0
dtype: int64

**Question 4**

In [80]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 331 entries, 0 to 365
Data columns (total 24 columns):
Date             331 non-null object
Location         331 non-null object
MinTemp          331 non-null float64
MaxTemp          331 non-null float64
Rainfall         331 non-null float64
Evaporation      331 non-null float64
Sunshine         331 non-null float64
WindGustDir      331 non-null object
WindGustSpeed    331 non-null float64
WindDir9am       331 non-null object
WindDir3pm       331 non-null object
WindSpeed9am     331 non-null float64
WindSpeed3pm     331 non-null int64
Humidity9am      331 non-null int64
Humidity3pm      331 non-null int64
Pressure9am      331 non-null float64
Pressure3pm      331 non-null float64
Cloud9am         331 non-null int64
Cloud3pm         331 non-null int64
Temp9am          331 non-null float64
Temp3pm          331 non-null float64
RainToday        331 non-null object
RISK_MM          331 non-null float64
RainTomorrow     331 non-null object
dtypes: float64(12), int64(5), object(7)
memory usage: 64.6+ KB

In [0]:
ser=pd.Series(data['Temp9am'])

In [82]:
ser

0      14.4
1      17.5
2      15.4
3      13.5
4      11.1
5      10.9
6      12.4
7      12.1
8      14.1
9      13.3
10     14.6
11     16.8
12     17.0
13     19.7
14     18.7
15     19.1
16     20.2
17     20.1
18     20.2
19     22.8
20     22.2
21     16.5
22     14.0
23     17.8
24     16.8
25     19.8
26     16.5
27     18.8
28     18.9
29     17.3
       ...
334     9.8
335    11.3
336    19.0
337    22.5
338    14.5
339    11.7
340    12.8
341     6.9
342     7.2
343     8.1
344    10.0
345    13.6
346    12.6
347    16.3
348    14.5
349    11.6
350     9.6
352    12.7
353    16.8
354    16.4
355    11.4
356     8.3
357     9.1
358     9.4
359    12.0
361    20.4
362    17.2
363    14.5
364    15.8
365    23.8
Name: Temp9am, Length: 331, dtype: float64